spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/app
    username: postgres
    password: postgres

  liquibase:
    enabled: true
    change-log: classpath:/db/changelog/db.changelog-master.yaml
