spring:
  datasource:
    url: jdbc:h2:mem:onemail;DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  modulith:
    events:
      jdbc:
        schema-initialization:
          enabled: true
      completion-mode: delete
logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
  liquibase:
    enabled: false
